# MongoDB
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=gym_management

# JWT
JWT_SECRET_KEY=your-super-secret-key-change-in-production
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

# App
APP_NAME=Gym Management API
DEBUG=true
