/* Import component styles */
@import "./common.css";
@import "./pos.css";
/*css general*/
* {
  box-sizing: border-box;
}

/*fondo general*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4f6f9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #1f2937;
}
/*titulos*/
h1,
h2,
h3,
h4 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}


